// Start to define the global header.

header.l-header
  h1
    a(href="").l-header__logo
      |logo
  nav.l-header__nav
    ul.l-header__list
      li.l-header__item
        a(href="").l-header__link
          span.l-header__linktext.-en
            |Top
          span.l-header__linktext.-ja
            |トップ
      li.l-header__item
        a(href="").l-header__link
          span.l-header__linktext.-en
            |About
          span.l-header__linktext.-ja
            |アバウト
      li.l-header__item
        a(href="").l-header__link
          span.l-header__linktext.-en
            |Service
          span.l-header__linktext.-ja
            |サービス
      li.l-header__item
        a(href="").l-header__link
          span.l-header__linktext.-en
            |Service
          span.l-header__linktext.-ja
            |サービス
      li.l-header__item
        a(href="").l-header__link.-cv
          span.l-header__linktext.-en
            |Contact
          span.l-header__linktext.-ja.-cv
            |お問い合わせ

// End to define the global header.